<div class="card mb-3">
    <div class="card-header bg-dark">
        <small class="text-white">
            <i class="fas fa-clock"></i> {{article.createdAt | date('d.m.Y à h:i')}}
            par <i class="fas fa-user"></i> {{article.author.fullName}}
        </small>
    </div>
    <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('rectangle') }}" alt="{{ article.title }}">
    <div class="card-body">
        <h5>{{ article.title }}</h5>
        <a href="{{ path('article_show', {'slug': article.slug}) }}" class="btn btn-dark">
            Lire l'article
        </a>
    </div>
</div>