<!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="{{ path('home') }}" class="navbar-brand p-0">
            <h1 class="m-0 text-primary"><i class="fas fa-blog me-2"></i>SocioDev</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav me-auto py-0">
                <a href="{{ path('home') }}" class="nav-item nav-link active">Accueil</a>
                <a href="{{ path('articles_index') }}" class="nav-item nav-link">Blog</a>
                <a href="{{ path('home') }}" class="nav-item nav-link">Services</a>
                <div class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Catégories</a>
                    <div class="dropdown-menu m-0">
                        {% for category in categories.getCategories %}
                            <a href="{{ path('category_show', {'slug': category.slug}) }}" class="dropdown-item">{{category.name}}</a>
                        {% endfor %}
                        <hr class="dropdown-divider">
                        <a href="{{ path('category_index') }}" class="dropdown-item">Toutes les catégories</a>
                    </div>
                </div>
                <a href="{{ path('contact') }}" class="nav-item nav-link">Contact</a>
            </div>
            <ul class="navbar-nav ms-auto py-0">
                {% if app.user %}
                    <li class="nav-item">
                        <a href="" class="nav-link">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('account_logout') }}" class="nav-link">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('account_login') }}" class="nav-link">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
<!-- Navbar End -->